* {
    margin: 0;
    padding: 0;background-color: cornsilk;
}
.section-4 {
    background-color: darkkhaki;
    margin: 10px;
    padding: 24px;

}
.section-4a {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 32px;
    border: solid;
    border-width: 2px;
    
}
.section-4b {
    display: flex;
    flex-direction: row;
    
}
.section-4b-1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 12px;
    
}
.section-4b-1 video {
    width: 100%;
}
.section-4b-2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 12px;
    
}
.section-4b-2-a {
    background-color: darksalmon;
    display: flex;
    flex-direction: row;
    padding: 4px;
   
}
.section-4b-2-a div {
    background-color: rgb(100, 76, 68);
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    
}
.section-4b-2-a img {
    width: 35%;
    height: auto;
 }
 
.section-4b-2-b {
   background-color: rgb(150, 111, 243);  
   display: flex;
   flex-direction: row;
   padding: 4px;
}
.section-4b-2-b div {
    background-color: rgb(184, 172, 212);  
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
 }

 .section-4b-2-b img {
    width: 35%;
    height: auto;
 }
 